@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.header {
    background-color: #EEEFF1;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
}

.header__navigation-list {
    display: flex;
    padding: 40px 0;
    position: relative; 
    align-items: center;
}

.header__navigation-link {
    display: flex;
    position: relative;
    align-items: center;
}

.header__navigation-item {
    color: #000;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
line-height: 164.063%;
margin-right: 42px;
}

/* .header__navigation-link-home::before {
    content: url(./image/home.png);
    
    
}
.header__navigation-link-about::before {
    content: url(./image/about.png);
}
.header__navigation-link-works::before {
    content: url(./image/information-button.png);
}
.header__navigation-link-process::before {
    content: url(./image/process.png);
}
.header__navigation-link-contacts::before {
    content: url(./image/contact-us.png);
} */

.header-text {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}

.header__text-item {
    color: #000;
font-family: "Roboto";
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 164.063%;
margin-bottom: 70px ;
}

.heaader__text-inside {
color: #727272;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 164.063%;
margin-bottom: 70px;
}

.header__button {
margin-top: 65px;
background: #34547A;
width: 225px;
height: 65px;
color: #FFF;
text-align: center;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
margin-bottom: 70px;
}

.main-text {
    display: flex;
    flex-direction: column;
    padding: 40px 0 ;
    text-align: center;
}

.main__text-item {
color: #000;
font-family: "Roboto";
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal
}

.main__text-inside {
color: #727272;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 164.063%;
margin: 40px 0;
}


.section-container {
    display: flex;
    justify-content: space-between;
}
.section {
    background-color: #34547A;
    padding: 100px 0;
}

.section__card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section__text {
    color: #FFF;
    font-family: "Roboto";
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section__text-inside {
color: #FFF;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
}

.wrapper {
    background-color: #EEEFF1;
}

.wrapper__display-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 35px 0;
}

.wrapper__text-title {
color: #000;
text-align: center;
font-family: "Roboto";
font-size: 32px;
font-style: normal;
font-weight: 500;
}

.wrapper__text-inside {
    color: #727272;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; 
    padding-top: 50px;
}

.wrapper__video {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.wrapper__wrapper-video {
    width: 1110px;
    height: 600px;
}

.footer {
    background-color: #34547A;
}

.footer__text {
    padding: 25px 0;
}

.footer__text {
color: #FFF;
font-family: "Roboto";
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.footer__text-inside {
    color: #FFF;
    font-family: "Roboto";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; 
}

.link-home::before {
    content: "";
    position: absolute; 
    background-image: url(./image/home.png);
    left: -20px;
    width: 17px;
    height: 18px;
}
.link-about::before {
    content: "";
    position: absolute;
    background-image: url(./image/about.png);
    width: 17px;
    height: 18px;
    left: -20px;
}

.link-works::before {
    content: "";
    background-image: url(./image/information-button.png);
    position: absolute;
    width: 17px;
    height: 18px;
    left: -20px;
}

.link-process::before {
    content: "";
    background-image: url(./image/process.png);
    position: absolute;
    width: 17px;
    height: 16px;
    left: -20px;
}

.link-contacts::before {
    content: "";
    background-image: url(./image/contact-us.png);
    position: absolute;
    width: 17px;
    height: 16px;
    left: -20px;
}
