@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

.body {
  font-family: "Roboto";
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.top-header-links {
  background-color: #efefef;
}

.list-top-links {
  display: flex;
  justify-content: center;
}

.list-top-item {
  margin-left: 15px;
}

.top-link {
  color: #333;
  display: block;
  padding: 15px;
}

.top-link:hover {
  background-color: #8f8f8f;
}

.center-section-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-name {
  text-transform: uppercase;
  color: #f13c6e;
  font-size: 36px;
  font-weight: 700px;
  letter-spacing: 3.6px;
}

.img-logo {
  margin-right: 20px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.call-back {
  border: 1px solid #f13c6e;
  border-radius: 20px;
  padding: 15px 15px;
  margin-left: 40px;
  background-color: #fff;
}

.slider-wrapper {
  background-image: url(./img/Rectangle\ 2.png);
  padding: 190px 0;
  color: #fff;
  background-repeat: no-repeat;
}

.slider-wrapper-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}

.slider-wrapper-text {
  font-size: 14px;
  margin-bottom: 50px;
  line-height: 20px;
}

.slider-wrapper-more {
  padding: 15px 25px;
  border: 2px solid #fff;
  color: #fff;
  background-color: #ffffff00;
  border-radius: 20px;
}

.wrapper-offers {
  justify-content: center;
  background-color: #efefef;
}

.text-offers {
  color: black;
  font-size: 24px;
  font-weight: 700px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.spesial-offers-card {
  display: flex;
  justify-content: space-between;
}

.special-card {
  display: inline-block;
  text-align: center;
  padding-top: 120px;
  background-color: #fff;
  padding: 10px 40px;
  
  
}

.price {
  color: black;
  font-size: 14px;
  margin-top: 15px;
}

.buy {
  background-color: #f13c6e;
  border-radius: 25px;
  width: 65px;
  height: 30px;
  margin-top: 15px;
}

.text-card {
  margin-top: 20px;
}

.wrapper-gifts {
  background-color: #efefef;
}

.gifts-container-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 30px 0;
  gap: 80px;
  
}

.gifts-container {
  background-color: #f13c6e;
  display: flex;
  justify-content: space-between;
  padding: 35px 40px;
  align-items: center;
  flex-grow: 1;
 
}
.text-title-gifts {
  display: flex;
  flex-direction: column;
  gap: 25px;

}

.get-bonuses {
  color: #FFF;
font-family: "Roboto";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.every-month {
  color: #FFF;
font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140.625%;

}

.enter-email {
  border-radius: 30px;
background: #FFF;

}

 .car-container {
  background-color: #f13c6e;
  display: flex;
  justify-content: space-between;
  padding: 35px 40px;
  align-items: center;
  flex-grow: 1;
 }

 .text-title-car {
  display: flex;
  flex-direction: column;
  gap: 25px;
 }

 .visit-us {
color: #FFF;
font-family: "Roboto";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
 }

 .over-stores {
color: #FFF;
font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140.625%;
 }

 .store-map {
border-radius: 30px;
border: 2px solid #FFF;
background: var(--Accent, #F13C6E);
 }

 .form-setion {
  display: flex;
  background-color: #efefef;
  gap: 1px;
}

.logo-item {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.impuls-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1px;
}

.impuls {
  background-color: #fff;
  padding: 50px 75px 50px 75px;
}
 



 
.footer-wrapper {
  max-width: 1290px;
  margin: 0 auto;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 60px 0;
}


.list-categories-link {
  color: #828282;
  display: block;
  font-size: 12px;
  padding-bottom: 15px;
  font-family: "Roboto";
}

.footer-categories-list {
  margin: 45px 188px 0 0;
}

.menu-list-tittle {
  margin-top: 25px;
  color: #000;
font-family: "Roboto";
font-size: 16px;
font-weight: 500;
}

.contacts-network {
  display:block;
}
.footer-contacts {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.network-facebook {
  border: 3px solid #F13C6E;
  border-radius: 35px;
  width: 45px;
height: 45px;
}

.network-instagram {
  border: 3px solid #F13C6E;
  border-radius: 35px;
  width: 45px;
 height: 45px;
}

.footer-wrapper-more {
  background-color: #efefef;
}

.footer-additional {
  display: flex;
  justify-content: space-between;
  padding: 25px 2px;
}

.additional-text {
  color: var(--828282, #828282);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
}


@media  screen and (max-width: 1024px) {
.container {
  width: 90%;
  margin: 0 auto;
}


.center-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-menu {
  display: flex;
  justify-content: space-between;
}
}

@media screen and (max-width: 768px) {

  .center-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 15px;
  }

  .logo-wrapper {
    margin-bottom: 40px;
  }

  

  .list-top-links {
   font-size: 15px;
  }

  .contacts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .gifts-container-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .special-card {
    margin: 10px 10px;
  }

  .spesial-offers-card {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
  }

  .impuls-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
  }

  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
  }

  .footer-additional {
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 320px) {

  .center-section-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 15px;
  }

  .logo-wrapper {
    margin-bottom: 40px;
  }

  .top-link {
    font-size: 15px;
  }

  .list-top-links {
    display: flex;
    flex-direction: column;
  }

  .contacts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .gifts-container-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .special-card {
    margin: 10px 10px;
  }

  .spesial-offers-card {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
  }

  .impuls-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
  }

  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
  }

  .footer-additional {
    display: flex;
    flex-direction: column;
  }
}


