img{
    display: block;
}


.wrapper {
    width: 806px;
    margin-left: 370gipx;
    margin-top: 30px;


}
.card-header {
  font-size: 25px;
}

.card {
    background-color: rgb(22, 205, 16);
    display: inline-block;
    box-sizing: border-box;

    margin: 10px;
    border: 5px solid rgba(8, 14, 160, 0.715);

}

h2 {
color: rgb(1, 79, 35);
}
 p { 
    color: rgb(14, 14, 14);
 }

 body{
    background-color: bisque;
 }
    