img {
	vertical-align: top;
}
.header {
   max-width: 1200px;
    background-color: #eeeff1;
   margin: 0 auto;
   

}

.nav {
   flex-direction: column;
   display: flex;
   margin-left: 250px; 
}



.navigation {
   width: 646px;
   height: 27px;
   display: flex;
   justify-content: space-between;
   padding-left: 0;
   padding-top: 79px;
   margin-right: 42px;
   list-style-type: none;

    
}

.title {
    display: flex;
    flex-direction: column;
     margin: 0 auto;
     padding-top: -150px;
     background-color: #eeeff1;
     padding-left: 270px;
     padding-bottom: 50px;

}
.h1 {
   width: 350px;
   font-weight: 500px;
   font-size: 48px;
   line-height: 80px;
   color: black;
   padding-left:100px ;
}
.content {
    padding-left: 450px;
padding-top: 50px;
display: flex;
flex-direction: column;
text-align: center;
width: 100px;
}

.p {
  max-width: 540px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 27px;
  color: #727272;
   margin-top: 20px;
   padding-left: 0;
}
.h2 {
    font-weight: 500px;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: black;

}
.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    padding-left: 480px;
}
.page-dark {
 background-color: #34547A;
 width: 1920px;
 height: 350px;
}

.project {
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding-left:30px;
}
.li {
    display: inline-block;
    margin-right: 50px;
}
.button {
    width: 225px;
    background-color: #34547A;
    margin-top: 65px;
    text-align: center;
    font-weight: 400px;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}
.project-img {
width: 110ox;
height: 50px;
color: white;
margin: 100px 50px;
display: inline-block;
}

.project-title {
   max-width: 1200px;
    margin: 0 auto;
    
}
.h4 {
    padding-left: 15px;
}
.container-video {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    padding-left: 105px;
    background-color: #eeeff1;
}
.text-box {
    max-width: 270px;
   margin: 0 auto;
}
.how-do {
    padding-top: 30px;
}

.iframe {
    max-width: 800px;
}
.footer {
    background-color: #34547A;
    padding: 30px;
}
.title-year {
    color: #fff;
}
.title-name {
    color: #fff;
    font-size: 21px;
    
}



    

