.container-1,
.container-2,
.container-3 {
  border: 5px solid red;
  height: 100px;
}
.box1,
.box2,
.box3,
.box4,
.box5 {
  height: 100px;
  width: 100px;
  background-color: coral;
  color: #fff;
  text-align: center;
  font-size: 30px;
}
.boxin div,
.container-1 .box1,
.container-2 .box1,
.container-3 .box1,
.container-3 .box2 {
    float: left;
}

.container-1 .box2,
.container-3 .box3,
.container-3 .box4,
.boxin {
    float: right;

}

.container-1,
.container-2,
.container-3 {
    border: 5px solid red;
    height: 100px;
}

 .box1,
 .box2,
 .box3,
 .box4,
 .box5 {
    float: right;
 }
    
